.gl-maps {
  height: 429px !important;
}

.contato {
  padding: 120px 0 50px 0;
  background: #3c3d43;
  color: #fff;
}

.contato-container {
  /* display:flex;
  justify-content: center;
  flex-direction: row; */
  width: 100%;
  height: auto;
}

.contato-container > div {
  padding: 0px 30px 0 30px;
}

.contact-precisa{
  display:flex;
  flex-direction: row;
}

.full-width{
  width: 100%;
}

.div-check{
  display: flex;
  flex-direction: column;
}

.checkbox {
  font-size: 14px;
  font-family: ErasMedium;
  margin: 0 0 5px 0;
  border-radius: 3px;
}
.form-group label {
  font-size: 12px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 5px;
}

.table-contato td{
  padding: 0 10px 0 10px;
}
.enviando-email{
  display: flex;
  justify-content: center;
  align-items: center;
}
.enviando-email img{
  width: 20px;
  height: 20px;
}

.mensagem-contato{
  padding: 20px 10px 20px 10px;
  border-radius: 25px;
  /* background-color: #c9b35c; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.green-div{
  border: 2px solid green;
  color: #c9b35c;
}

.red-div{
  border: 2px solid red;
  color: #c9b35c;
}

.contato .ribbon-border{
  margin-top: 10px;
  width: 220px;
  height: 5px;
  background: -moz-linear-gradient(right, rgba(229, 189, 71, 1) 0%,  rgba(237, 220, 170, 1) 50%,  rgba(229, 189, 71, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(229, 189, 71, 1) 0%,  rgba(237, 220, 170, 1) 50%,  rgba(229, 189, 71, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(229, 189, 71, 1) 0%,  rgba(237, 220, 170, 1) 50%,  rgba(229, 189, 71, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
  margin-bottom: 40px;
}

.contato .title {
  font-family: ErasBold;
  font-size: 50px;
  color: #fff;
}

.contato .desc {
  font-family: ErasMedium;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.contato .checkbox {
  display: flex;
  align-content:center;  
  margin-bottom: 10px;
}

.contato input[type=checkbox], input[type=radio] {
  margin: 3px 0 0 -20px;
}
.form-div{
  font-family: ErasMedium;
}
.checkbox {
  font-family: ErasMedium;
}

.form-div{
  font-size: 18px;
  font-family: ErasMedium;
}

.form-div .row-margin > div {
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (max-width: 992px) {
  .form-div{
    font-size: 28px;
  }
  .checkbox {
    font-size: 24px;
  }
  .input-lg{
    font-size: 24px;
  }

  .contato input[type=checkbox]{
    transform: scale(2);
    margin: 10px 0 0 -25px;
  }

  .contato .checkbox{
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 20px;
  }

  .btn-group-lg>.btn, .btn-lg {
    font-size: 28px;
  }


}

@media (max-width: 600px) {
  
}

@media (max-width: 480px) {
 
}