.footer{
  padding: 50px 0 20px 0;
  background: #c9b35c;
}
.footer .redes-sociais{

}

.footer .redes-sociais img + img{
  margin-left: 10px;
}

.footer .redes-sociais img {
  cursor: pointer;
}

.footer .text {
  margin-top: 20px;
  text-align: center;
  font-family: ErasMedium;
  font-size: 18px;
  color: #fff;
}

.footer div {
  margin: 10px 0 10px 0;
}

@media (max-width: 992px) {

  .footer .text {
    font-size: 26px;
  }
  .contato .desc {
    font-size: 26px;
  }
  
}


@media (max-width: 600px) {
  
}

@media (max-width: 480px) {
 
}