

.section {
}

.container {
  max-width: 1170px;
}


.galeria {
    /*padding: 60px 30px 0 30px;*/
    /*display:flex;*/
    /*flex-direction: row;*/
    /*align-content: flex-start;*/
    /*overflow:auto;*/
    /*width: 80%;*/
    margin: 30px 0 30px 0;
}

/*.galeria img {
    height: 200px;
    width: 200px;
}*/

.galeria div + div {
    /*margin-left: 10px;*/
}


.container-galerias{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: auto;
}

.container-galerias div + div {
  margin-left: 10px;
}


.centralizado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.galeria-preview {
    text-align: center;
}

.slick-track {
    display: flex;
}

.rounded {
  border-radius: 50%;
}

.hidden-here {
  visibility: hidden;
}

.visible-here {
  visibility: visible;
}



/* fonts */
@font-face {
    font-family: NexaBold;
    src: url("../Fonts/NexaBold.otf") format("opentype");
}

@font-face {
    font-family: NexaLight;
    src: url("../Fonts/NexaLight.otf") format("opentype");
}


@font-face {
    font-family: ErasBold;
    src: url("../Fonts/eras-bold-itc.ttf");
}
@font-face {
    font-family: ErasLight;
    src: url("../Fonts/eras-light-itc.ttf");
}
@font-face {
    font-family: ErasMedium;
    src: url("../Fonts/eras-medium-itc.ttf");
}
@font-face {
    font-family: ErasDemi;
    src: url("../Fonts/eras-demi-itc.ttf");
}
