.navbar-nav{
    width: 100%;
    float:none;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

.li-not-scrolled{
    padding-top: 30px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

nav.scrolled li {
    height: 50px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: darkgoldenrod;
    font-weight: 700;
    background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cccccc;
}

.img-logo{
  max-width: 100px;
  max-height: 100px;
}

.text-menu a{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.navbar-nav li {
  -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

/*Não alterar o fundo ao ativar o item central do menu(logo)*/
#logo a, #logo{
  background-color: transparent !important;
}
