.ac-modal {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
    top: 0px;
    left: 0px;

    opacity: 0;

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.ac-modal.active {
    opacity: 1;

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

#modalGallery {
    position: fixed;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: 0 0 14px 2px black;
}

.ac-modal-close-button {
    right: 10px;
    font-size: 40px;
    position: fixed;
    top: 20px;
    color: white;
    opacity: 1;
    z-index: 1000;
    text-shadow: 0 0px 7px #000;
}

.nossasBandas-modal-gallery-item{
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}