.nossasBandas-gallery-item{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.nossasBandas{
  padding: 110px 0 110px 0;
  background: rgb(211,211,211);
}
.galeriaModal {
    height: 90vh;
}
