.oQueFazemos-gallery-item{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.oQueFazemos{
  padding: 60px 0 60px 0;
}

.container-galerias-oQueFazemos img {
    max-height: 100px;
    width: auto;
}

.text-oQueFazemos{
  margin-top: 60px;
  max-width: 80%;
  text-align:center;
}
