<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="menu-inicio" ng-class="(activeMenu['home']) ? 'active' : 'inactive'" href="{{item.url}}">
          <a href="#slider">Início
          </a>
        </li>
            
        <li   ng-repeat="item in data" ng-if="$index < (data.length / 2)">
          <a class='a-menu'  ng-class="(activeMenu[item.post_name] || itemSelected == item.post_name || activeMenu['home']) ? 'active' : 'inactive'" href="{{item.url}}">{{item.title}}</a>
        </li>

        <li id="logo" ng-class="{'active': activeMenu.home}">
          <a href="#slider"><img src="{{general.logo}}" class="img-logo">
          </a>
        </li>


        <li ng-repeat="item in data" ng-if="$index > (data.length / 2) || $index == (data.length / 2)">
          <a ng-class="(activeMenu[item.post_name] || itemSelected == item.post_name || activeMenu['home']) ? 'active' : 'inactive'"
          class='a-menu' href="{{item.url}}" ng-click="changeSelected(item.post_name)">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
