<div id='nossas-bandas' class="section nossasBandas" style="position: relative">
    <!-- <slick class="galerias-bandas container-galerias" id="container-galerias" autoplay="true" autoplaySpeed="500" fade="true" init-onload=true> -->
    <div class="container centralizado"   >
      <div class="title">NOSSAS BANDAS</div>
      <div class="ribbon-border"></div>

      <div class="centralizado" style="width: 100%; flex-direction: row; " id="container-galerias">
        <slick  class="galerias-bandas" id="" settings="slickGaleriasConfig">

          <!-- <div id="{{gallery.id}}" ng-repeat='gallery in galleries_nossasBandas' ng-if="$index == 0" class="gallery-item"
          ng-click="changeGallery(gallery.id)" imageonload="{{gallery.cover.url}}" general="general">
          </div> -->

          

          <div id="{{gallery.id}}" ng-repeat='gallery in galleries_nossasBandas track by $index' class="gallery-item"
          ng-click="changeGallery(gallery.id)" imageonload="{{gallery.cover.url}}" general="general">
          </div>
  <!-- 
          <div id="{{gallery.id}}" ng-repeat='gallery in galleries_nossasBandas' 
          ng-if="$index > galleries_nossasBandas.length || $index = galleries_nossasBandas.length" class="gallery-item"
            ng-click="changeGallery(gallery.id)" imageonload="{{gallery.cover.url}}" general="general">
            </div> -->

        </slick>

        
      </div>

      <div id="institucional-bandas" class="gallery-item icone-video" ng-if="gallerySelected.videos.length > 0"
      ng-click="changeGallery()" imageonload="{{data.icone_video}}" general="general">
      <!-- style='background-image: url("{{gallery.cover.url}}")'> -->
      </div>



    <!-- <div class="galeria" id="galeria-nossasBandas">
    </div> -->
    <div class="slick-supporter" ng-class="{'slickSupportVideo' : videosLoaded}">
      <slick  init-onload="false" data="arrayLoaded" class="galeria" 
      ng-class="{'slickGaleriaVideo' : videosLoaded}"
      id="galeria-nossasBandas"
      settings="slickBandasConfig" ng-if="arrayLoaded" dots="true">

        <div id="{{$index}}"
         ng-repeat='image in gallerySelected.images track by $index'
         class="nossasBandas-gallery-item"
         ng-class="{'hidden': !arrayLoaded , 'slickVideo' : videosLoaded} "
         imageonload="{{ (videosLoaded) ? null : image.url_thumb}}"
         general="general"
         ng-click="(videosLoaded) ? '' : showModal($index);">

         <!-- <iframe
            width="100%"
            height="100%"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen"
            msallowfullscreen="msallowfullscreen"
            oallowfullscreen="oallowfullscreen"
            webkitallowfullscreen="webkitallowfullscreen"
            ng-src="{{common.calcYoutubeURL(image.url)}}"
            ng-if="videosLoaded" >
          </iframe> -->


          <videogular vg-player-ready="onPlayerReady($API, $index)" vg-update-state="changeState($state, $index)" ng-if="videosLoaded" vg-theme="config.theme">
              <vg-media vg-src="config.sources[$index]">
              </vg-media>
          
              <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
              </vg-controls>
          
              <vg-overlay-play></vg-overlay-play>
              <vg-poster vg-url='gallerySelected.videos[$index].cover'></vg-poster>
            </videogular>
          
       </div>
      </slick>


  </div>


    <div modal-gallery-bandas show="modalShow" image-index="modalImageIndex" gallery="gallerySelected" nossasBandas="true">
    </div>
    <div class="ribbon-border"></div>
    <div class="text-nossasBandas">{{gallerySelected.description}}</div>
    <div class="redes-sociais display-flex-all-centered">
      <img ng-if="gallerySelected.facebook_link" ng-click="common.openLink(gallerySelected.facebook_link)" ng-src="{{general.imagem_fb}}" />
      <img ng-if="gallerySelected.instagram_link" ng-click="common.openLink(gallerySelected.instagram_link)" ng-src="{{general.imagem_instagram}}" />
    </div>
  </div>
</div>
