<div id='o-que-fazemos' class="section centralizado oQueFazemos" ng-style="{'background-image':'url({{data.background}})'}">
  <div class="container centralizado  ">

    <slick  class="galerias-fazemos" id="container-galerias-fazemos" settings="slickGaleriasConfig">
      <div id="{{gallery.id}}" ng-repeat='gallery in galleries_oQueFazemos' class="gallery-item"
      ng-click="changeGallery(gallery.id)" imageonload="{{gallery.cover.url}}" general="general">
      </div>

    </slick>

  <div class="slick-supporter">
    <slick  init-onload="false" data="arrayLoaded" class="galeria" id="galeria-oQueFazemos"
    settings="slickFazemosConfig" ng-if="arrayLoaded" dots="true">

      <div id="{{$index}}"
       ng-repeat='image in gallerySelected.images'
       class="oQueFazemos-gallery-item"
       ng-class="!arrayLoaded ? 'hidden' : ''"
       imageonload="{{image.url_thumb}}"
       general="general"
       ng-click="">
     </div>
    </slick>


  </div>


  <!-- <div modal-gallery show="modalShow" image-index="modalImageIndex" gallery="gallerySelected">
  </div> -->
  <!-- <div class="ribbon-border"></div> -->

    <div class="title-oQueFazemos">{{gallerySelected.name}}</div>
    <div class="text-oQueFazemos">{{gallerySelected.description}}</div>
  </div>
</div>
