<div id='o-que-fazemos' class="section centralizado oQueFazemos" style="position: relative" ng-style="{'background-image':'url({{data.background}})'}">
 
  <div class="container centralizado  " >
    
    <div class="title">O QUE FAZEMOS?</div>
    <div class="ribbon-border"></div>
    <div class="centralizado" style="width: 100%; flex-direction: row; position: relative;margin-bottom: 30px" id="container-galerias-fazemos">
      <slick  class="galerias-fazemos"  settings="slickGaleriasConfig">
        <div id="{{gallery.id}}" title="{{gallery.name}}" ng-repeat='gallery in galleries_oQueFazemos track by $index' class="gallery-item"
        ng-click="changeGallery(gallery.id)" imageonload="{{gallery.cover.url}}" active-title="true" gallery-title="gallery.name" general="general" style="position: relative; margin-top: 20px;">

        
        
        </div>

      </slick>

      
    </div>

    <!-- <div id="institucional-fazemos" class="gallery-item icone-video"
    ng-click="changeGallery()" imageonload="{{data.icone_video}}" general="general"> -->
    </div>

  <div class="slick-supporter" ng-class="{'slickSupportVideo' : videosLoaded}">

    
    <slick  init-onload="false" data="arrayLoaded" class="galeria" id="galeria-oQueFazemos"
    ng-class="{'slickGaleriaVideo' : videosLoaded}"
    settings="slickFazemosConfig" ng-if="arrayLoaded" dots="true">

      <div id="{{$index}}"
       ng-repeat='image in gallerySelected.images track by $index'
       class="oQueFazemos-gallery-item"
       ng-class="{'hidden': !arrayLoaded , 'slickVideo' : videosLoaded} "
       imageonload="{{ (videosLoaded) ? null : image.url_thumb}}"
       general="general"
       ng-click="(videosLoaded) ? '' : showModal($index);">

       <videogular vg-player-ready="onPlayerReady($API, $index)" ng-if="videosLoaded" vg-theme="config.theme" vg-update-state="changeState($state, $index)">
          <vg-media vg-src="config.sources[$index]">
          </vg-media>
      
          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
          </vg-controls>
      
          <vg-overlay-play></vg-overlay-play>
          <vg-poster vg-url='data.videos[$index].cover'></vg-poster>
        </videogular>
      
      <!-- <span ng-if="videosLoaded" style="position: absolute; right: 0; left: 0; bottom: 0px;" ng-bind-html="image.description"></span> -->

      
     </div> 

     
      
    </slick>


  </div>


  <div modal-gallery-fazemos show="modalShow" image-index="modalImageIndex" gallery="gallerySelected">
  </div>
  <!-- <div class="ribbon-border"></div> -->

    <div class="title-oQueFazemos" ng-bind-html="gallerySelected.name"></div>
    <div class="text-oQueFazemos" ng-bind-html="gallerySelected.description"></div>
  </div>
</div>
