<div id='quem-somos' class='section  quemSomos' ng-style="{'background-image':'url({{data.background}})'}">
    


  <div class="ribbon">
      <div class="text display-flex-all-centered">A REINEL</div>
      <div class="redes-sociais display-flex-all-centered">
        <img ng-click="common.openLink(general.facebook_link)" src="{{general.imagem_fb}}" />
        <img ng-click="common.openLink(general.instagram_link)" src="{{general.imagem_instagram}}" />
      </div>
    <div class="border-bottom"></div>
  </div>

  <div class="container centralizado  ">
      

    <div class="ribbon-2">
      <div class="text display-flex-all-centered">POSICIONAMENTO</div>
      <div class="border-bottom"></div>
    </div>
    <div class="main">

        <div class="row">

      <div class="col-md-7 text col-xs-12 ">
          {{data.text}}
      </div>

      <div class="display-flex-all-centered div-missao-valores-visao  col-md-5 col-xs-12">
          <div class="ac-quemsomos-button" ng-click="toggleVisao()">
              <div class="content">
                  NOSSA VISÃO <span aria-hidden="true"
                                  class="glyphicon glyphicon-chevron-down ac-quemsomos-button-chevron"></span>
                <div class="ac-quemsomos-text" ng-class="visaoCtrl ? 'active' : ''">{{data.visao}}</div>
              </div>
          </div>
          <div class="ac-quemsomos-button" ng-click="toggleMissao()">

            <div class="content">NOSSA MISSÃO <span aria-hidden="true"
                                                              class="glyphicon glyphicon-chevron-down ac-quemsomos-button-chevron"></span>
              <div class="ac-quemsomos-text" ng-class="missaoCtrl ? 'active' : ''">{{data.missao}}</div>
              </div>
          </div>
          <div class="ac-quemsomos-button" ng-click="toggleValores()">
              <div class="content">NOSSOS VALORES <span aria-hidden="true"
                                                                class="glyphicon glyphicon-chevron-down ac-quemsomos-button-chevron"></span>
              <div class="ac-quemsomos-text" ng-class="valoresCtrl ? 'active' : ''">{{data.valores}}</div>
              </div>
          </div>
      </div>
    </div>
  </div>


</div>
