<div id='slider' class='slider'>
  <div class='slider-item' ng-repeat='item in data.videos track by $index' ng-if="item != '' && item != false && item != '#'">
    <!-- <iframe width="100%" height="100%"
    allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      ng-src="{{common.calcYoutubeURL(item)}}">
    </iframe> -->

    <videogular vg-player-ready="onPlayerReady($API, $index)" vg-update-state="changeState($state, $index)" vg-theme="config.theme"
    vg-auto-play="true" vg-update-volume="0">
        <vg-media vg-src="config.sources[$index]">
        </vg-media>
    
        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>
    
        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='data.videos[$index].cover'></vg-poster>
      </videogular>
      
  </div>


  <div ng-click="openLink(item.link)" general="general"
  class='slider-item' ng-repeat='item in data.images' ng-style="{'background-image': 'url({{calcURL(item.path, item.filename)}})'}">
  </div>


</div>
